@import "tailwindcss";
@plugin "daisyui";

.Box_Shedow {
    box-shadow: 2px 2px 1px -0.5px #cccc;
}

.Bg_Img {
    background-size: cover;
    background-image: url("../public/Img/bgImg.jpeg");
    background-position: center;
    object-fit: cover;
}

.BG_Color {
    background: linear-gradient(to right, #6366F1, #A855F7, #EC4899);

}

.Text_Color {
    background: linear-gradient(to right, #6366F1, #A855F7, #EC4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}